html,
body {
    font-family: 'Poppins-Regular',
        sans-serif;
    margin: auto;
    max-width: 1440px;
}
@font-face{
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face{
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
.web-only{
   display: block;
}
button:focus {
    outline: none;
    outline: none;
}
img{
    width: 100%;
}
.mb0{
    margin-bottom: 0px;
}
.mt66{
    margin-top: 66px;
}
.mt15r{
    margin-top: 55rem;
}
.mb15{
    margin-bottom: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin: 25px;
}
.mt30{
    margin-top: 30px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}
.mb32{
    margin-bottom: 32px;
}
.mb40{
    margin-bottom: 40px !important;
}
.mt40{
    margin-top: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.pb48{
    padding-bottom: 48px;
}
.mt90{
    margin-top: 90px;
}
.mr10{
    margin-right: 10px;
}
.fs30{
    font-size: 30px !important;
}
a:hover {
    text-decoration: none;
}
.mobile-only{
    display: none;
}
.font-black{
    font-family: Poppins-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #1e1e1e;
}
.font-bold{
    font-family: Raleway-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #1e1e1e;
}
section{
    
}
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #myDropdown2.dropdown-content{
    min-width: 180px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  .logo-section{
      padding: 20px 50px;
      max-height: 170px;
  }
  .stages-club-cards{
      margin-top: 100px;
  }
.logo-section img{
    mix-blend-mode: multiply;
}
.logo-section a{
    font-family: Poppins-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
}
.logo-section a:first-child{
    margin-left: 0px;
}
.logo-section a:last-child{
    margin-right: 0px;
}
.primary-btn{
    border-radius: 4px;
    background-color: #E87D1B;
    padding: 8px 32px;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    outline: none;
}
.primary-btn-modal{
    border-radius: 4px;
    background-color: #E87D1B;
    padding: 8px 38px;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    outline: none;
}
.primary-btn:hover{
    background-color: #ED9749;
}
.primary-btn:focus{
    outline: none;
}
.banner{
    height: 680px;
    background-image: url(../images/banner-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner-content{
    text-align: left;
    padding: 70px 50px;
    /* margin-top: 3rem; */
}
.banner-content h2{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 124%;
    color: #1E1E1E;
}
.next-section .banner-content h2{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
}

.next-section .banner-content h2 span{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #E87D1B;
}
.next-section .banner-content p{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: normal;
    color: #4B4B4B;
}
.banner-content p{
    font-family: Poppins-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4B4B4B;
}
.banner-content span{
    font-family: Poppins-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.our-clients{
    margin-bottom: 100px;
    /* margin-top: 90px */
}
.our-clients h2{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 124%;
    color: #1E1E1E;
    padding-bottom: 60px;
    margin-top: 90px
}

.our-clients-inner img{
    filter: grayscale(1);
}
.banner-jumbo-img {
    width: 78%;
    margin-left: auto;
    margin-right: 12%;
    margin-top: -14%;
}
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 8px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
}
button.primary-btn.sign-in {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
}
button.primary-btn.sign-up {
    background: #FFFFFF;
    color: #E87D1B;
}
div#myDropdown a {
    margin: 0px;
    text-align: center;
    color: #1E1E1E;
    border: 1px solid #ffffff;
}
div#myDropdown2 a {
    margin: 0px;
    text-align: left;
    color: #1E1E1E;
    border: 1px solid #ffffff;
}
.partner-brand-logo {
    text-align: center;
}
.partner-brand-logo img {
    filter: grayscale(1);
    width: 60%;
    fill: gray;
}
 .content-info{
    padding: 100px 72px;
    z-index: 100;
}
.content-info h4{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 124%;
    color: #1E1E1E;
    margin-bottom: 16px;
}
.content-nfo p{ 
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136%;
    color: #4B4B4B;
}
.blog-img{
    width: 110%;
    margin-left: -66px;
    transition: all .2s ease-in-out;
    z-index: 20;
}
.blog-img:hover { 
    transform: scale(1.06); 
}
.stages-card-title h3{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 127.7%;
    text-align: center;
    color: #9C2F2C;
    max-width: 64%;
    margin: auto;
}
.clup-card-item .batch{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 127.7%;
    color: #F1B176;
}
section.how-system-works {
    overflow-x: hidden;
}
.clup-card-item h5{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 127.7%;
    color: #1E1E1E;
}
.clup-card-item p{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 136%;
    color: #4B4B4B;
}
.card-headup {
    max-width: 32%;
}
.card-club-container{
    margin: 24px 48px 48px 48px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: #E9E9E9;
    position: relative;
}
.clup-card-item{
    background: #FFFFFF;
   
}
.mr1{
    margin-right: 1px!important;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
}
.service-block-presentive {
    max-width: 78%;
    margin: auto;
}
.service-block{
    padding: 22px;
}
p{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 136%;
    color: #4B4B4B;
}
.service-block h5{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 127.7%;
    color: #1E1E1E;
}
.service-block {
    min-height: 244px;
    margin: 8px;
}
.inner-container-keyframe{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
h5{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 127.7%;
    color: #1E1E1E;
}
.key-feature-gardient-container{
    background: linear-gradient(105.72deg, #FFBF61 5.05%, #FE8618 76.83%, #FF396D 99.7%);
    padding: 42px 56px;
    position: relative;
    z-index: 7;
}
.key-feature-gardient-container h6{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 127.7%;
    color: #FFFFFF;   
}
.inner-container-keyframe{
    padding: 30px 60px;
    z-index: 10;
}
.inner-align-card{
    padding: 30px;
    position: relative;
}
.thin{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 127.7%;
    color: #1E1E1E;
}
.static-name-label{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 136%;
    display: flex;
    color: #1E1E1E;
    margin-top: 6px;
    margin-bottom: 0px;
}
.bench-img{
    width: 62%;
    margin-left: auto;
}
.three-card-align {
    padding: 48px 48px 32px 48px;
}
.static-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 30px;
    position: relative;
}
.customer-profile {
    width: 48%;
    margin-left: auto;
}
.people-banner{
    max-width: 80%;
}
.mr-66{
    width: 110%;
    margin-right: -66px!important;
    margin-left: 0px;
}
.sign-up-container{
    background: #1E1E1E;
    padding: 100px 48px;
}
.sign-up-container button{
    margin-top: 40px;
}
.Classic-header{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: #626262;
    margin-bottom: 24px ;
}
.footer-container{
    padding: 48px;
    background: #ffffff;
}
.footer-container p{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 136%;
    color: #A5A5A5;
    
}
.row.bg-shade1 {
    position: relative;
    min-height: 580px;
}
.row.bg-shade2 {
    position: relative;
    min-height: 580px;
}
.row.bg-shade3 {
    position: relative;
    min-height: 580px;
}
.row.bg-shade1::before {
    content: '';
    position: absolute;
    background:  #FDF2E9;
    width: 72%;
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    z-index: -1;
}
.row.bg-shade2::before {
    content: '';
    position: absolute;
    background:  #E7EDF1;
    width: 72%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    right: 0;
    z-index: -1;
}
.row.bg-shade3::before {
    content: '';
    position: absolute;
    background:  #FDF2E9;
    width: 72%;
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    z-index: -1;
}
.Bullet{
    position: relative;
    margin-left: 20px;
}
.Bullet::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #4B4B4B;
    top: 0;
    margin: auto;
    bottom: 0;
    left: -15px;
    background-position: center;
}
.col-separator-right::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: #E9E9E9;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin-right: 10%;
    left: 0;
}

.col-separator {
    position: relative;
}
/* .inner-container-keyframe .row:first-child .col-4:first-child.inner-align-card:after {
    border-bottom: 1px solid gray;
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    background: gray;
    bottom: 0;
    right: 0;
}
.inner-container-keyframe .row:first-child .col-4:last-child.inner-align-card:after {
    border-bottom: 1px solid gray;
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    background: gray;
    bottom: 0;
    left: 0;
} */
.learn-more{
    cursor: pointer;
}
p.learn-more {
    position: absolute;
    bottom: 0;
}
.col-3.clup-card-item.p-5:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.col-3.clup-card-item.p-5:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.key-features{
    position: relative;
}
.key-features .key-feature-gardient-container img{
    width: 8%;
    position: absolute;
}

.float-shade1 {
    right: 6px;
    top: 76px;
    z-index: -1;
}
img.float-shade2 {
    right: 6px;
    bottom: 0;
}
img.float-shade3 {
    right: 9%;
    bottom: 0;
}
.our-clients .row .col-2:nth-child(3) img{
    width: 80%;
}
.card.service-block:first-child{
    position: relative;
}
section.available-services {
    position: relative;
}
.landing-swirl {
    position: absolute;
    top: 0;
    right: 0;
    width: 16%;
}
.available-services>.row{
    padding: 48px;
}
.available-services .row:first-child.card.service-block:nth-child(2){
    position: relative;
}
.polygon-background1 {
    max-width: 100%;
    position: absolute;
    right: -70%;
    top: -46%;
    transition: rotate(96deg);
    transform: rotate(-25deg);
    z-index: -1;
}

.polygon-background2 {
    max-width: 100%;
    position: absolute;
    left: -18%;
    bottom: -55%;
    transform: rotate(242deg);
    z-index: -1;
}
.logo-section a:hover {
    color: #1E1E1E;
}
button.dropbtn:hover{
    color: #1e1e1e;
}
button.dropbtn:focus{
    color: #1e1e1e;
}
button.primary-btn.sign-in:hover {
    background: transparent;
    border-radius: 4px;
    color: #1e1e1e;
    border: 1px solid #1e1e1e;
}
button.primary-btn.sign-up:hover {
    background: #FFFFFF;
    color: #1e1e1e;
}
.logo-section a:hover {
    color: #1E1E1E;
    background: transparent;
    /* border: 1px solid #E87D1B; */
    border-radius: 0px;
    /* color: #E87D1B!important; */
}
.clup-card-item .card-headup{
    transition: all .2s ease-in-out;
}
.clup-card-item:hover .card-headup{
    transform: scale(1.1);
}
.clup-card-item:hover.clup-card-item h5 {
    color: #E87D1B;
}
.inner-container-keyframe:hover{
    background: #FFFFFF;
    box-shadow: -20px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.learn-more span{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #1E1E1E;
}
.card-float-bg1 {
    max-width: 100%;
    position: absolute;
    left: 50px;
    top: -50%;
    z-index: -1;
}
.card-float-bg2 {
    max-width: 100%;
    right: 96px;
    position: absolute;
    top: 80px;
    z-index: -1;
}
.static-card-header {
    background: #9C2F2C;
    position: absolute;
    top: 0;
    right: 16px;
    padding: 0px 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.col-lg-3.col-12.clup-card-item.p-5 {
    position: relative;
}
.static-card-header p {
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 127.7%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px;
    margin-bottom: 0px;
}

.card-headup.mb30 {
    margin-top: 30px;
}
.next-section .logo-section a {
    font-family: Poppins-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1E1E1E;
    margin-left: 8px;
    margin-right: 8px;
}
.next-section .logo-section a:hover {
   color: #E87D1B;
}
div#myDropdown a:hover,div#myDropdown2 a:hover {
    color: #E87D1B;
    border: 1px solid #E87D1B;
}
.next-section .dropbtn:hover{
    color: #E87D1B;
}
.next-section .dropbtn:focus{
    color: #E87D1B;
}
.next-section .dropbtn {
    background-color: transparent;
    color: #1E1E1E;
    font-size: 16px;
    padding: 10px 8px;
    border: none;
    cursor: pointer;
}
.next-section .banner-content {
    text-align: left;
    padding: 0px 48px;
    margin-top: 0rem;
}
.next-section .logo-section {
    padding: 20px 50px;
    max-height: 90px;
}

.next-section .banner-jumbo-img {
    width: 54%;
    margin: auto;
}
.next-section button.primary-btn.sign-in {
    background: white;
    border-radius: 4px;
    border: 1px solid #E87D1B;
    color: #E87D1B;
    margin-right: 8px;
}
.next-section button.primary-btn.sign-up {
    background: #E87D1B ;
    color: #FFFFFF;
}

.banner.about-us-banner {
    /* height: 650px; */
    background-image: url(../images/About\ Us\ bgside\ Img.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 49%;
    background-position-y: -22%;
    z-index: 500;
}

.gray-medium-font{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #787878;
    margin-bottom: 40px;
}

.about-us .card-club-container {
    margin: 0px;
}
section.stages-club-cards.about-us.web-only{
    padding: 48px;
}
.about-us .stages-card-title {
    margin-bottom: 40px;
}
.mode-logo img{
    width: 20%;
}
.mode-logo p{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124%;
    color: #E87D1B;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    }
section.payment-modes{
    padding: 48px 48px 48px 16px;
}
section.three-line-cards.contact-us>div {
    padding: 0px 48px;
}
.payment-modes .col-lg-2.text-center {
    min-height: 90px;
}
.payment-modes .row .col-lg-2.text-center{
    position: relative;
}
.payment-modes .gray-medium-font{
    padding: 0px 48px;
}


section.three-line-cards .row .col-lg-4 .card{
    margin: 16px;
    padding: 32px;
}
section.three-line-cards .row .col-lg-4 .card h4{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #1E1E1E;
   
}
section.three-line-cards .row {
    padding: 0px 32px;
}
.three-line-cards img{
    width: 7%;
    margin-right: 12px;
}

.for-enquiry h4{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1E1E1E;
    margin: 8px 0px;
    padding: 0px 78px;
}
.remark{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 136%;
    display: flex;
    align-items: center;    
    color: #A5A5A5;
}

section.Two-bottom-shades-cards-container{
    padding: 48px;
}

section.Two-bottom-shades-cards-container .col-12 .card{
    padding: 34px;
    max-height: 364px;
    min-height: 364px;
    position: relative;
}
section.Two-bottom-shades-cards-container .col-12 .card ul li{
    list-style: none;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B4B4B;
    }
.small-bold-font{
font-family: Poppins-Bold;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #2C405A;
margin-bottom: 32px;
}
.w-78{
    width: 78%;
}
.float-shade-lightblue1{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
}
.float-shade-purple1{
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
}

.float-shade-orange1{
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
}

.float-shade-lightblue2{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
}
.float-shade-purple2{
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
}
.float-shade-orange2{
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
}

.blue-bg-shade-left {
    position: absolute;
    top: -25.8%;
    left: 6%;
    z-index: -1;
}
.pink-bg-shade {
    position: absolute;
    top: -22%;
    right: 20%;
    z-index: -1;
}
.blue-bg-shade-right {
    position: absolute;
    top: -36%;
    right: 10%;
    z-index: -1;
}

.logo-section.our-products img {
    mix-blend-mode: multiply;
    margin-top: 0px;
}


.secondary-btn{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 56px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
}
.classic-btn{
    background: linear-gradient(316.37deg, #FFBF61 -1.37%, #FE8618 56.77%, #FF396D 121.68%);
}
.side-pannel-banner-classic {
    background-image: url(../images/Classic\ Wave\ Img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 500px;
}

.text-banner-container{
    width: 32%;
    padding: 48px;
}
.thin-regular{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
    margin-bottom: 24px;
    }

.key-features-container{
    padding: 48px;
    position:relative;
}
.key-features-container .key-feature-large-card{
    padding: 0px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2);
}

.key-features-container .key-feature-large-card .col-lg-4.col-12 {
    padding: 42px;
    position: relative;
}
.col-separator{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #E9E9E9;
    height: 70%;
    right: 0;
}

.key-features-container .key-feature-large-card .row:first-child::after {
    content: '';
    width: 94%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #E9E9E9;
    bottom: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
}

.key-features-container .key-feature-large-card  .row.m-0.no-gutters {
    position: relative;
}
.card-pink-shade {
    position: absolute;
    bottom: 0;
    right: -14px;
}
.card-blue-shade {
    position: absolute;
    bottom: 0;
    right: 50px;
}
.ease-container {
    width: 50%;
    margin-bottom: 10px;
}
.product-logo {
    width: 86%;
    margin-bottom: 40px;
}
.pricing-container{
    padding: 48px;
    position: relative;
}
.pricing-card-container {
    padding: 52px 52px 52px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2);
    position: relative;
}
.setup-text{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color: #064372;
    text-transform: capitalize;
    padding: 16px 0px 42px 0px;
}
    .forget-text{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #064372;
    background-color: white;
    outline: none;
    border: none;
    }
.product-range {
    width: 66%;
    margin: auto;
}
.pricing-card-container .col-lg-4{
    position: relative;
}
.pricing-card-container .col-lg-4::after {
    content: '';
    position: absolute;
    top: -50px;
    /* bottom: 0; */
    right: 8px;
    height: 132%;
    border-right: 2px dashed #E7E7E7;
}
i.fa.fa-bars {
    transform: scale(1.3);
}
.col-lg-3.col-12.clup-card-item.p-5.col-separator {
    background: white;
}

.col-lg-3.col-12.clup-card-item.p-5.col-separator::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background: #E9E9E9;
    top: 0;
}
.side-pannel-banner-premium {
    background-image: url(../images/Premium\ Wave\ Img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 500px;
}
.premium-btn {
    background: linear-gradient(328.65deg, #45108A 2.28%, #3D065F 29.57%, #10054D 101.35%);
}

.key-feature-large-card li{
    color: #626262;
}

.pro-btn {
    background: linear-gradient(328.65deg, #551D1D 2.28%, #752021 12.36%, #1E1E1E 62.38%);
}
.side-pannel-banner-pro {
    background-image: url(../images/pro-wave.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 500px;
}
.side-pannel-banner-guest {
    background-image: url(../images/side-pannel-banner-guest.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 500px;
}
.product-logo.pro {
    max-width: 46%;
}

.product-logo.premium {
    width: 94%;
}
.other-features-card{
    padding: 50px 50px 84px 50px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2); */
    background-image: url(../images/other-features-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}

.other-features-card li{
    color: #626262;
}

.other-features-container{
    padding: 42px 48px;
    position: relative;
}
.col-lg-6.prlg-2 {
    padding-right: 110px;
}
section.section.payment-modes.web-only{
    position: relative;
}
.triangle-pro-payment{
    position: absolute;
    right: 1%;
    bottom: 20%;
    transform: scale(0.8);
}
.guest-btn{
    background: linear-gradient(132.64deg, #9C2F2C 5.85%, #752021 78.5%, #390000 108.2%);
    border-radius: 4px;
}

.product-logo.guest {
    width: 74%;
}
.classic-key-bg-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.classic-key-bg-right{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.classic-pricing-pupleshade {
    position: absolute;
    right: 158px;
    top: 6%;
    z-index: -1;
}
.classic-pricing-orangeshade {
    position: absolute;
    right: 32px;
    z-index: -1;
    top: -4%;
}
.classic-pricing-bottom-shade {
    position: absolute;
    top: 340px;
    left: 0;
    z-index: -1;
}
.float-double-img{
    position: relative;
}

.float-double-img-container{
    position: absolute;
    bottom: -52px;
    z-index: 2;
    right: -52px;
}
.premium-pricing-purpleshade{
    position: absolute;
    right: 0;
    bottom: 0;
}
.premium-pricing-orangeshade{
    position: absolute;
    right: 0;
    top: 0;
}
.premium-pricing-lightshade{
    position: absolute;
    right: 0;
    bottom: 0;
}
.premium-side-img{
    position: absolute;
    right: 0;
    bottom: -300px;
    z-index: -1;
}
.guest-key-bg{
    position: absolute;
    right: 0;
    bottom: -62px;
    z-index: -1;
}
.guest-key-bg-left{
    position: absolute;
    left: 0;
    top: 90px;
    z-index: -1;
}
.other-features-card.bg-none {
    background-image: none;
}
.bg-none{
    background: none;
}
.number-email-container{
    padding: 48px 48px 0px 48px;
    position: relative;
}
.number-email-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 52px;
}
.contact-font{
    font-family: Poppins-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 124%;
    color: #1E1E1E;
    }
.email-content{
    position: relative;
    padding: 40px 0px 0px 0px;
}
.email-content .mail-box img {
    width: 2.4%;
    margin-right: 10px;
}
.number-email-card span img {
    width: 6%;
}
/* compare products */
.compare-banner{
    height: 640px;
    background-image: url(../images/compare-banner.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 80px;
}
.banner-content p.compare-label{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}
.compare-cards{
    display: flex;
}
.compare-card{
    width: calc(25% - 8px);
    background: #FFFFFF;
    border-radius: 10px;
    padding: 85px 32px 20px;
    filter: drop-shadow(0px 4px 24px rgba(85, 29, 29, 0.2));
    height: 380px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}
.compare-card:first-child{
    margin-left: 0px;
}
.compare-card:last-child{
    margin-right: 0px;
}
.compare-card h2{
    font-family: Poppins-SemiBold !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 52px !important;
    line-height: 52px !important;
}
.compare-card p{
    font-family: Poppins-SemiBold !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    color: #E87D1B !important;
    margin-bottom: 0px !important;
}
.compare-card .viewmore{
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E87D1B;
    position: absolute;
    bottom: 20px;
}
.card-classic h2{
    color: #E87D1B !important;
}
.card-classic p{
    color: #064372 !important;
}
.card-premium{
    margin-top: 50px;
}
.card-premium h2{
    color: #45108A !important;
}
.card-premium p{
    color: #064372 !important;
}
.card-pro h2{
    color: #E87D1B !important;
}
.card-pro p{
    color: #064372 !important;
}
.card-guest{
    margin-top: 50px;
}
.card-guest h2{
    color: #E87D1B !important;
}
.card-guest p{
    color: #064372 !important;
}
/* compare products */
.col-separator-contact{
    position: relative;
}
.col-separator-contact{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #E9E9E9;
    height: 90%;
    right: 28px;
}
.enquiry-form-container{
    padding: 48px;
}
.enquiry-form-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px;
    position: relative;
    }
.input-label label{
    width: 100%;
    font-family: Poppins-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
    padding: 12px 0px;
    margin-bottom: 24px;
    }
    .input-feild input, textarea,select{
        width: 100%;
        border: 1px solid #AAA6A2;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 12px;
        margin-bottom: 24px;
    }
    textarea {
    resize: none;
    }
    .contact-from{
        padding-top: 46px;
    }

    :focus{
        
        outline: none;
    }
    .input-feild button.primary-btn {
        margin-left: auto;
        display: block;
        padding: 10px 72px;
    }
    .contact-bottom-shade {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
    }
    .contact-top-shade {
        position: absolute;
        top: 0;
        right: 0;
    }
    .email-contact-shade {
        position: absolute;
        right: -48px;
        bottom: -48px;
    }
    .integration-platform-container{
        padding: 36px;
        position: relative;
    }

    .int-card{
        border: 1px solid #E87D1B;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 38px 24px;
        position: relative;
        min-height: 310px;
    }
    .int-title{
        font-family: Poppins-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 124%;
        color: #1E1E1E;
        background-color: #FFFFFF;
        position: absolute;
        top: -16px;
    }
    .mb58{
        margin-bottom: 58px;
    }
    .int-logo {
        width: 10%;
        position: absolute;
        right: 42px;
    }
    .integration-bg {
        position: absolute;
        bottom: -326px;
        left: 0;
        z-index: -1;
    }
    .int{
        margin-top: 90px;

    }
    .bold-text{
        font-family: Poppins-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 124%;
        color: #4B4B4B;
        margin-bottom: 8px;
        margin-top: 40px;
    }
    .small-text{
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        color: #4B4B4B;
        margin-bottom: 0px;
    }
    .classic-header-b{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #1E1E1E;
        margin-bottom: 26px;
    }
    .classic-header{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #E87D1B;
    }
    .premium-header{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #45108A;
    }
    .pro-header{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #551D1D;
    }
    .guest-header{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #BD3333;
    }
    .comparison-ease-logo {
        width: 50%;
        margin: auto;
    }
    .comparison-ease-logo img{
        mix-blend-mode: multiply;
    }
    .comparison-header{
        background: #FDF2E9;
        border-radius: 12px;
        padding: 24px;
    }
    .head-static-title{
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #064372;
    }
    .value-header{
        font-family: Poppins-SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #064372;
    }
    .value-header span{
        font-size: 14px;
        margin: 1px;
    }
    .custom-comp-head{
        padding: 30px 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(196, 196, 196, 0.2);
        margin-top: 16px;
    }
    .custom-comp-data{
        padding-top: 52px;
    }
    .custom-comp-data span{
        font-size: 10px;
    }
    .pl110{
        padding-left: 110px;
    }
    .feature-detail-container{
        padding: 100px;
    }
    .feature-detail-container li{
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4B4B4B;
        margin-left: 20px;
    }
    .feature-detail-container .feature-detail{
        padding: 60px;
    }
    .banner-content.faqs{
        background-image: url(../images/faq-banner.svg);
        background-position: right;
        background-repeat: no-repeat;
        height: 680px;
    }
    .search-container{
        width: 58%;
        margin: auto;
        position: relative;
    }
    .search-faq-input{
        width: 100%;
        position: relative;
    }
    .search-faq-input input{ 
        width: 80%;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        padding: 24px 50px;
        outline: none;
        border: none;
    }
    .inner-card{
        padding: 42px;
        min-height: 310px;
    }
    .card-directed-container{
        padding: 40px;
        margin-top: -300px;
    }
    .card-directed-container p.learn-more {
        bottom: 16px;
    }
    .card-directed-container{
        background-image: url(../images/faq-bg-cards.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    .float-bottom-logo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .check-mark {
        width: 12%;
        margin: auto;
    }
    .check-plane {
        display: flex;
        align-items: center;
        min-height: 70px;
        margin: auto;
    }
    .check-plane>.col-3>p{
        padding-left: 30%;
    }
    .check-plane p{
        margin-bottom: 0px;
    }
    .check-plane:nth-child(even){
        background-color: #F3FCFE;
        border-radius: 12px;
    }

    .strong{
        font-weight: bold;
    }
    .custom-comp-data>div.row>.col-3:first-child p{
        padding-left: 36%;
    }

    .overlap-triangle {
        position: absolute;
        left: -26%;
        top: -222%;
        width: 52%;
        }
        .search_button{
            background-image: url(../images/search-button.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-family: Poppins-SemiBold;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .search-faq-input button {
            background-color: transparent;
            outline: none;
            border: none;
            right: 30px;
            position: absolute;
            height: 100%;
            width: 27%;
            text-align: -webkit-right;
            text-align: right;
            padding-right: 30px;
        }

        .sing-up-left-title{
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #626262;
            padding-left: 90px;
        }
        .thin-line-up-text{
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #626262;
            margin-bottom: 8px;
            padding-left: 48px;
        }
        .thin-line-up-text span{
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #4B4B4B;
        }
        .custom-comp-data.border-bottom-row{
            padding: 28px 0px;
            position: relative;
        }
        .custom-comp-data.border-bottom-row>div{
            border-bottom: 1px solid #D2D2D2;
            padding: 26px 0px;
        }
        .border-none{
            border-bottom: none!important;
        }
        .table-bg {
            position: absolute;
            bottom: -40px;
            left: -70px;
            border-bottom: none;
        }
        .banner-content.faq-sign-up{
            background-image: url(../images/sign-up-banner.svg);
            background-repeat: no-repeat;
            background-position: right top;
            height: 180px;
        }
        .page-section:first-child {
            width: 100%;
            padding: 0px 80px;
            color: #1E1E1E;
            /* box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5); */
           
            }
        .page-section {
        width: 100%;
        padding: 40px 80px;
        color: #1E1E1E;
        }
        .navigation {
            width: 100%;
            top: 0px;
            background-color: #FFFFFF;
            color: #fff;
            margin: 0px 22px;
    }
        .navigation_after{
            width: 100%;
        }
        .navigation_after{
            width: 32.6555%;
        }
        .navigation__link {
        display: block;
        color: #1E1E1E; 
        text-decoration: none;
        font-family: Poppins-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 124%;        
        color: #1E1E1E;
        padding: 24px ;
    }
        
        .navigation__link.active {
            font-family: Poppins-Semibold;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 124%;
            color: #FFFFFF;
        background-color: #ED9749;
        }
        .modal-large-header{
            font-family: Poppins-SemiBold;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #E87D1B;
            padding: 0px 48px;
            margin-bottom: 16px;
        }
        .modal-feature-header{
            font-family: Poppins-SemiBold;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #212121;
            padding: 0px 48px;
            margin-bottom: 16px;
        }
        .gray-modal-font{
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #AAA6A2;
            padding: 0px 48px;
            margin-bottom: 26px;
        }
        .modal-text-feilds{
            padding: 0px 48px;
        }
        .modal-text-feilds div{
            margin-bottom: 18px;
        }
        .modal-text-feilds input{
            width: 100%;
            font-family: Poppins-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #A5A5A5;
            background: #FFFFFF;
            border: 1px solid #C9C9CF;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 12px 24px;
        }
        .sign-up-modal .modal-content{
            padding: 12px 30px;
        }
        .sign-in-modal .modal-content{
            padding: 12px 30px;
        }
        .forget-password .modal-content{
            padding: 12px 30px;
        }
        .close-modal {
            width: 5%;
            margin-left: auto;
        }
        input#search{
            background-image: url(../images/search-icon.svg);
            background-repeat: no-repeat;
            text-indent: 20px;
            background-position-x: 30px;
            background-position-y: 26px;
           }
           
           input#search:focus{
            background-image:none;
           }
 
           .mt-12{
            margin-top: -12rem;
           }
          .js-textSearcher-highlight {
            background-color: #FFEE00;
          }
          .custom-class {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
            color: #3388ee;
          }
          .classic-card-big-shade {
            position: absolute;
            top: 0;
            right: 0;
        }
        .classic-card-small-shade {
            position: absolute;
            top: 0;
            left: 0;
        }
        .premium-card-big-shade {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .pro-card-small-shade {
            position: absolute;
            top: 0;
            left: 0;
        }
        .pro-card-big-shade {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
        .guest-card-big-shade {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .other-features-free-polygon {
            position: absolute;
            right: 0;
            bottom: 0; 
            top: 146px;
        }
        .other-keyfeatures-double-polygon {
            position: absolute;
            bottom: -114px;
            right: 0px;
        }
        .guest-brown-big-shade {
            position: absolute;
            right: 0;
            top: -62px;
        }
        .orange-guest-pricing {
            position: absolute;
            right: 103px;
            top: 0;
        }
        .guest-pricing-double-bottom {
            position: absolute;
            bottom: -116px;
            left: 0;
        }
        .other-features-left-free {
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .guest-pricing-bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .key-left-orange-shade {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .key-right-orange-shade {
            position: absolute;
            left: 0;
            bottom: -36px;
            z-index: -1;
        }
        .pro-key-double-triangle {
            position: absolute;
            right: 80px;
            bottom: -20px;
        }
        .mt32{
            margin-top: 32px;
        }































/* custom dropdown */
.custom-dropdown select {
    display: none;
}

.select-selected {
    background-color: #ffffff;
    padding: 8px 12px;
    border: 1px solid #adadad;
    border-radius: 3px;
    font-family: Poppins;
    font-size: 13px;
    color: #000000;
}

.select-selected:active,
.select-selected:focus {
    border: 1px solid #E87D1B;
    outline: none;
}

.select-selected::after {
    position: absolute;
    content: "";
    background: url(../img/assets/dropdown-arrow.svg) no-repeat;
    top: 15px;
    right: 5px;
    width: 20px;
    height: 20px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.select-selected.select-arrow-active::after {
    top: 3px;
    transform: rotate(180deg);
    right: 10px;
}

.select-items div {
    color: #000000;
    padding: 7px 24px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
}

.select-items {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
    border: 1px solid #E87D1B;
    border-radius: 3px;
    font-family: Poppins;
    font-size: 13px;
    color: #000000;
    height: auto;
    max-height: 240px;
    overflow-y: auto;
}

.select-items::-webkit-scrollbar {
    width: 10px;
}

.select-items::-webkit-scrollbar-track {
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 3px;
}

.select-items::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 4px;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
    flex: 1;
    cursor: pointer;
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid #adadad !important;
    border-radius: 3px;
    font-family: 'Poppins-Regular',sans-serif;
    font-size: 16px;
    color: #000000;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    /* background: #5c6664; */
    overflow: hidden;
    border-radius: 3px;
}

.select::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    pointer-events: none;
    background: url(../images/dropdown-arrow.svg) no-repeat;
    top: 20px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.select:hover::after {
    color: #23b499;
}
/* custom dropdown end */
.compare-links a{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #626262;
}
.compare-links a:last-child{
    margin-left: 32px;
}
.compare-links a:hover{
    color: #BD3333;
}
.feature-detail-modal h5{
    margin-left: -20px;
}
.viewAll{
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}
.viewAll:hover{
    color: #fff;
}
.toggleTabs{
    padding: 72px 72px 0px 72px;
    /* border: 2px solid #E7EDF1; */
    position: relative;
}
.toggleTabs::before{
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 144px);
    height: 2px;
    bottom: 0px;
    background: #E7EDF1;
}
.toggleTabs.nav-pills .nav-link {
    border-top: none;
    color: #787878;
    padding: 16px 0;
    margin-right: 24px;
    background: none;
    text-transform: uppercase;
}
.toggleTabs.nav-pills .nav-link.active {
    color: #BD3333;
    border-bottom: 8px solid #BD3333;
    border-radius: 0px;
    font-family: Poppins-SemiBold;
}
.tab-content{
    padding: 30px 72px 0px 72px;
}
.product-comparison-container{
    margin-bottom: 160px;
}
.price-comparison-container{
    margin-bottom: 72px;
}
.product-compariosion-collapse{
    padding: 28px 63px;
    background: #FEFCF4;
    border-radius: 12px;
    color: #4B4B4B;
    width: 100%;
    box-shadow: none !important;
    text-align: left;
}
.product-compariosion-collapse:focus,.product-compariosion-collapse:active{
    box-shadow: none !important;
}
.product-compariosion-collapse[aria-expanded="true"] > span{
    transform: rotateX(180deg);
}
.product-compariosion-collapse > span{
    color: #82A0B8;
    background: #FFFFFF;
    border-radius: 38.7805px;
    width: 32px;
    height: 32px;
    padding: 4px 10px;
}
.product-compariosion-collapse.collapsed > span{
    transform: rotateX(0deg);
}
/* .fixed-overflow-container{
    position: relative;
} */
@media only screen and (max-width: 768px){
        .web-only{
            display: none;
        }
        .mobile-only{
            display: block;
        }
        h5 {
            font-family: Poppins-SemiBold;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 127.7%;
            color: #1E1E1E;
        }
        .banner{
            height: auto;
            background-image: url(../images/LandingbgImgmob.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            
        }
        .banner-content{
            text-align: left;
            padding: 70px 24px 0px;
            margin-top: 0rem;
            padding-bottom: 0px;
        }
        .banner-content h2 {
            font-family: Poppins-SemiBold;                    
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 124%;
            color: #BD3333;
        }
            .banner-content p {
                font-family: Poppins-Regular;              
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #4B4B4B;
            }
            .primary-btn{
                width: 100%;
                padding: 12px 32px;
            }
            .mt90{
                margin-top: 50px;
            }
            .our-clients h2 {
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 124%;
            }
            .partner-brand-logo img {
                width: 76%;
            }
            .row.bg-shade1 {
                position: relative;
                min-height: auto;
            }
            .row.bg-shade2 {
                position: relative;
                min-height: auto;
            }
            .row.bg-shade3 {
                position: relative;
                min-height: auto;
            }
            .row.bg-shade1::before {
                display: none;
            }
            .row.bg-shade2::before {
                display: none;
            }
            .row.bg-shade3::before {
                display: none;
            }
            .blog-img {
                width: 60%;
                margin: auto;
                transition: all .2s ease-in-out;
                z-index: 20;
            }
            .mr-66 {
                width: 60%;
                margin: auto;
            }
            section.how-system-works .row:nth-child(1) .col-lg-6:nth-child(1) {
                -webkit-box-ordinal-group: 2;
                -moz-box-ordinal-group: 2;
                box-ordinal-group: 2;
                order: 2;
            }
            section.how-system-works .row:nth-child(3) .col-lg-6:nth-child(1) {
                -webkit-box-ordinal-group: 2;
                -moz-box-ordinal-group: 2;
                box-ordinal-group: 2;
                order: 2;
            }
            .content-info h4 {
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 124%;
                color: #1E1E1E;
                margin-bottom: 8px;
            }
            p {
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 136%;
                color: #4B4B4B;
            }
            .content-info {
                padding: 0px 0px;
                z-index: 100;
                width: 90%;
                margin-top: 30px;
            }
            .row.bg-shade1 .content-info{
                background: rgba(253, 242, 233,0.5);
                border-radius: 0px 10.7367px 10.7367px 0px;
                padding: 28px 24px;
            }
            .row.bg-shade2 .content-info{
                background: rgba(231, 237, 241,0.5);
                border-radius: 10.7367px 0px 0px 10.7367px;                
                padding: 28px 24px;
                margin-left: auto;
            }
            .row.bg-shade3 .content-info{
                background: rgba(253, 242, 233,0.5);
                border-radius: 0px 10.7367px 10.7367px 0px;
                padding: 28px 24px;               
            }
            .Bullet {
                margin-bottom: 2px;
            }
            .stages-card-title h3 {
                font-family: Poppins-Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 127.7%;
                text-align: center;
                color: #9C2F2C;
            }
            .clup-card-item h5 {
                font-family: Poppins-Medium;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 127.7%;
                color: #1E1E1E;
            }
            .clup-card-item p {
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 136%;
                color: #4B4B4B;
            }
            .card-club-container {
                margin: 32px 0px;
                background-color: #FAFAFA;
            }
            .accordion .card{
                background: #FFFFFF;
                box-shadow: 0px 0.969512px 0.969512px rgba(45, 58, 72, 0.12);
                border-radius: 4px;
            }
            .card-headup {
                max-width: 66%;
                margin: auto;
            }
            .clup-card-item .batch {
            font-family: Poppins-Regular;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 127.7%;
            color: #F1B176;
            }
            .row.mb-3.card.p-0.no-gutters {
                margin: 0px 2px;
            }
            .our-clients h2 {
                padding-bottom: 32px;
            }
            .our-clients {
                margin-bottom: 52px;
            }
            .side-banner{
                background-image: url();
            }
            .available-services>.row {
                padding: 24px;
            }
            .service-block-presentive {
                max-width: 60%;
                margin: auto;
                margin-bottom: 36px;
            }
            .row.text-container {
                max-width: 80%;
            }

            .three-card-align {
                padding:24px;
            }
            .customer-profile {
                width: 28%;
                margin: auto;
                margin-bottom: 16px;
            }
            .three-card-align .row.static-card div:nth-child(2) {
                order: 1;
            }
            .row.static-card:nth-child(3) .col-12:first-child {
                order: 2;
            }
            .row.static-card:nth-child(3) .col-12:first-child p{
                order: 2;
            }
            /* .col-lg-7.col-12 p:first-child {
                background: blue;
                order: 1;
            }
            
            .col-lg-7.col-12 p:nth-child(2) {
                order: 2;
                background: red;
            } */

            .static-card {
                background: #FFFFFF;
                box-shadow: none;
                border-radius: 4px;
                margin-bottom: 0px;
                padding: 30px;
                position: relative;
            }
            .static-card p{
               text-align: center;
            }
            .three-card-align>.row {
                background: #FFFFFF;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
            }
            .thin {
                font-family: Poppins-Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: #9C2F2C;
                margin-bottom: 32px;
            }
           
                .card-float-bg1 {
                    width: 20%;
                    max-width: unset;
                    position: absolute;
                    top: -42%;
                    right: -6%;
                    left: unset;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    z-index: -1;
                }
                .static-name-label {
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-size: 12px;
                    line-height: 136%;
                    display: flex;
                    justify-content: center;
                    color: #1E1E1E;
                    margin-top: 6px;
                    margin-bottom: 0px;
                }
                .card-float-bg3 {
                    width: 20%;
                    position: absolute;
                    left: -6%;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    bottom: -36%;
                    z-index: -1;
                }
                .sign-up-container {
                    background: #1E1E1E;
                    margin-top: 81px;
                    padding: 100px 48px;
                }
                .card-float-bg4 {
                    width: 20%;
                    max-width: unset;
                    position: absolute;
                    top: -30%;
                    right: 15%;
                    left: unset;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                    z-index: -1;
                }
                .Classic-header {
                    margin-bottom: 24px;
                    margin-top: 32px;
                }
                .key-features-collapse .card-header {
                    background: #FFFFFF;
                    box-shadow: 0px 0.969512px 0.969512px rgba(45, 58, 72, 0.12);
                    border-radius: 4px;
                }
                .key-features-collapse .accordion>.card>.card-header {
                    border-radius: 0;
                    margin-bottom: 4px;
                    border-bottom: 0px;
                }
                .key-features-collapse.card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #ffffff;
                    background-clip: border-box;
                    border:none;
                    border-radius: .25rem;
                }
                .card-header span{
                    background: #CDD9E3;
                    width: 24px;
                    border-radius: 50% 50%;
                }
                .card-header span[aria-expanded="true"]{
                    transform: rotate(180deg);
                }
                .key-features-collapse #accordionExample .card-body {
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    min-height: 1px;
                    padding: 0.1rem 2.25rem;
                }
                .key-features-collapse #accordionExample .card-body>p{
                    max-width: 86%;
                }
                .btn-learn-more{
                    padding: 0px 14px 20px 0px;
                }
                .btn-learn-more p.learn-more{
                    position: relative;
                    color: #ED9749;
                    flex: none;
                    order: 0;
                    text-align: right;
                    margin: 4.23105px 0px;
                }
                .btn-learn-more .learn-more span{
                    color: #ED9749;
                }
                .sign-up-container h5{
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 124%;
                    color: #E9E9E9;
                }
                .sign-up-container {
                    background: #1E1E1E;
                    margin-top: 81px;
                    padding: 34px 24px;
                }
                section.key-features-collapse.mobile-only>div>h5{
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 127.7%;
                    color: #9C2F2C;
                    margin-bottom: 26px;
                }
                .footer-container {
                    padding: 48px 24px;
                    background: #ffffff;
                    z-index: 2;
                }
                .mb3{
                    margin-bottom: 24px;
                }
                .side-banner{
                    position: absolute;
                    width: 30%;
                    right: -13%;
                    bottom: -38px;
                }
                .batch{
                    position: relative;
                }
                .batch-float-title p{
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 127.7%;
                    text-transform: uppercase;
                    color: #D2D2D2;
                }
                .batch-float-title{
                    position: absolute;
                    right: -12%;
                    top: 2px;
                }
                .card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border:none;
                    border-radius: .25rem;
                }
                /* .banner-content button.btn {
                    display: block;
                    margin-left: auto;
                    margin-top: -21%;
                    margin-right: -30px;
                    color: white;
                    min-width: 16%;
                } */
                .banner-content .btn.focus, .btn:focus {
                    outline: 0;
                    box-shadow: none;
                }
                .banner-content .btn:hover {
                    color: white;
                    text-decoration: none;
                }
                #NavModal .modal-dialog.modal-lg {
                    margin: 0px;
                    height: 100%;
                    border-radius: 0px;
                    width: 100%;
                    border-radius: 0px;
                }
                #NavModal .modal-content {
                    width: 100%;
                    min-height: 100%;
                    border: none;
                    border-radius: none;
                    border-radius: 0px;
                    padding: 28px 24px;
                }
                #NavModal .modal-content>button{
                    margin-left: auto;
                    color: #E87D1B;
                    padding: 0px;
                    margin-bottom: 32px;
                }
                ul.navbar-list-item-container {
                    text-align: left;
                    padding-left: 0px;
                }
                
                ul.navbar-list-item-container li {
                    list-style: none;
                    margin-left: auto;
                    margin-bottom: 32px;
                    margin-right: 4px;
                }
                ul.navbar-list-item-container li a{
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 18px;
                    color: #113D6A;
                }
                ul.navbar-list-item-container li a:hover{
                   color: #E87D1B;
                }
                .group-btn{
                    margin: 24px;
                }
                .group-btn.d-flex.justify-content-around button {
                    border: none;
                    /* margin-bottom: 0px; */
                    margin: 8px;
                    outline: none;
                    min-width: 50%;
                    
                }
               
                button.sign-in{
                    border: 1px solid #E87D1B!important;
                    border-radius: 4px;
                    color: #E87D1B;
                    background: white;
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    align-items: center;
                    text-align: center;
                    padding: 12px 24px;
                }           
                button.sign-up{
                    border: 1px solid #E87D1B!important;
                    border-radius: 4px;
                    color: #ffffff;
                    background: #E87D1B;
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    align-items: center;
                    text-align: center;
                    padding: 12px 24px;
                }    
                .footer-container p{
                    margin-bottom: 12px;
                }
                .footer-container .row div:first-child .row div:first-child div:first-child{
                    /* order: 3;
                    background-color: aqua; */
                }
                button.primary-btn.mr10.mb-xs-10{
                    margin-top: 30px;
                    margin-bottom:30px;
                }
                .remark{
                    display: block;
                    text-align: center;
                }
                .gray-medium-font{
                    font-size: 14px;
                }
                section.payment-modes {
                    padding: 24px;
                }
                .payment-modes .gray-medium-font {
                    padding: 0px 0px;
                }
                section.three-line-cards .row .col-lg-4 .card h4 {
                    font-family: Poppins-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    color: #1E1E1E;
                }
                section.three-line-cards.contact-us>div {
                    padding: 0px 0px;
                }
                section.three-line-cards .row .col-lg-4 .card {
                    margin: 16px;
                    padding: 32px;
                    margin-bottom: 0px;
                }
                section.three-line-cards .row .col-lg-4 .card h4 {                   
                    margin-top: 16px!important;
                    margin-bottom: 0px;
                }
                section.three-line-cards .row .col-lg-4 .card h4 img {
                    width: 5.5%;
                    margin-right: 12px;
                }
                section.three-line-cards.contact-us>div:first-child {
                    padding: 0px 48px;
                    margin-bottom: 16px;
                }
                .next-section .banner-content p {
                    font-size: 12px;
                }
                .next-section .banner-content h2 {
                    font-size: 18px;
                }
                .next-section .banner-content h2 span {
                    font-size: 18px;
                }
                section.Two-bottom-shades-cards-container .col-lg-6.col-12 {
                    margin-bottom: 16px;
                }
                section.Two-bottom-shades-cards-container .col-12 .card ul li {                    
                    font-size: 12px;
                    margin-bottom: 12px;
                }
                .w-78 {
                    width: 82%;
                }
                section.Two-bottom-shades-cards-container{
                    padding: 24px;
                }
                section.Two-bottom-shades-cards-container .col-12 .card {
                    padding: 34px;
                    max-height: 500px;
                    min-height: 380px;
                    position: relative;
                }
                .stages-club-cards {
                    margin-top: 10px;
                }
                .small-bold-font {
                    margin-bottom: 24px;
                 }
                .banner.about-us-banner {
                    /* height: 650px; */
                    background-image: none;
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: 49%;
                    background-position-y: -22%;
                    z-index: 500;
                }
                .pitch-card {
                    min-height: 130px;
                    text-align: center;
                    background: #FEFCF4;
                    padding: 16px;
                }
                section.section.payment-modes.mobile-only .row{
                    padding:0px 8px;

                }
                section.section.payment-modes.mobile-only .row{
                    margin-bottom: 4px;
                }
                section.section.payment-modes.mobile-only .row .col-4 {
                    padding: 2px 4px;
                }
                .mode-logo img {
                    width: 56%;
                }
                .next-section .banner-content .row.mt-5.no-gutters{
                    margin-top: 0!important;
                }
                .head-logo {
                    width: 68%;
                    mix-blend-mode: multiply;
                }
                section.mobile-with-logo-header.mobile-only .col-6 button{
                    color: #064372;
                }
                .banner-content .row.justify-content-around.align-items-center{
                    margin-top: -42px;
                }
                .mob-shade-lightblue1{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 50%;
                }
                .mob-shade-purple1{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    right: 0;
                }
                .mob-shade-orange1{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 50%;
                }
                .text-banner-container {
                    width: 100%;
                    padding: 0px 48px;
                    margin-bottom: 20px;
                }
                .text-banner-container p{
                    font-size: 16px;
                }
                .ease-container {
                    width: 40%;
                    margin-bottom: 6px;
                }
                .product-logo {
                    width: 74%;
                    margin-bottom: 24px;
                }
                .secondary-btn {                    
                    padding: 14px 56px;                   
                    width: 100%;
                    margin-top: 8px;
                }
                .side-pannel-banner-classic {
                    background-image: url();
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    height: auto;
                }
                .col-separator {
                    display: none;
                }
                .key-features-container {
                    padding: 24px;
                }
                .key-features-container .key-feature-large-card {
                    box-shadow: none;
                    padding: 0px;
                    background: none;
                }
                .key-features-container .key-feature-large-card .col-lg-4.col-12{
                    box-shadow: rgba(196, 196, 196, 0.2) 0px 4px 24px;
                    padding: 24px;
                    background: rgb(255, 255, 255);
                    min-height: 250px;
                    margin-bottom: 16px;
                }
                .thin-regular {                   
                    font-size: 16px;
                    margin-bottom: 24px;
                }
                .pricing-card-container .col-lg-4::after {
                    /* content: "";
                    position: absolute;                    
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                    border-bottom: 2px dashed rgb(231, 231, 231); */
                    border-right: none;
                }
                .pricing-container {
                    padding: 0px;
                    position: relative;
                    margin-top: 60px;
                }
                .pricing-card-container {
                    padding: 24px;
                }
                .setup-text{
                    font-size: 18px;
                }
                .pricing-card-container>.row>.col-lg-8.col-12.mobile-only {
                    border-bottom: 2px dashed #E7E7E7;
                    padding: 20px 0px;
                }
                /* section.mobile-with-logo-header.classic.mobile-only{
                    background-image: url(../images/Classic-mobile-banner.svg);
                    background-repeat: no-repeat;
                    
                } */
                .top-bg-img {
                    position: absolute;
                    right: 0;
                    width: 42%;
                }
                .big-orange-shade1 {
                    position: absolute;
                    right: 0;
                    top: -50px;
                    z-index: -1;
                    width: 23%;
                }
                .big-purple-shade1 {
                    position: absolute;
                    right: 23%;
                    top: -20px;
                    z-index: -1;
                    width: 23%;
                }
                .big-orange-shade2 {
                    position: absolute;                    
                    width: 23%;
                    bottom: -6%;
                    left: 23%;
                    z-index: -1;
                }
                .big-purple-shade2 {
                    position: absolute;                   
                    width: 23%;
                    bottom: -14%;
                    left: 0;
                    z-index: -1;
                }
                .pricing-container .gray-medium-font{
                    padding: 0px 24px;
                }
                /* compare products */
                .compare-banner{
                    height: 428px;
                    background-position-y: 0px;
                    background-image: url(../images/comapre-banner-mobile.svg);
                }
                .banner-content p.compare-label{
                    font-size: 14px;
                    line-height: 21px;
                    padding-top: 24px;
                }
                /* compare products */
                .key-features-container .key-feature-large-card .row:first-child::after {
                    display: none;
                }
                .side-pannel-banner-premium {
                    background-image: url();
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    height: auto;
                }
                .product-range {
                    width: 60%;
                    margin: auto;
                }
                .side-pannel-banner-pro {
                    background-image: url();
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    height: inherit;
                }
                .product-logo.pro {
                    max-width: 34%;
                }
                br{
                    display: none;
                }
                .premium-pricing-purpleshade.mobile-only {
                    width: 22%;
                }
                .premium-pricing-orangeshade.mobile-only {
                    width: 22%;
                    left: 0;
                    top: 52%;
                    z-index: 0;
                }
                .premium-pricing-purpleshade.mobile-only {
                    left: 95px;
                    z-index: 0;
                    top: 320px;
                }
                .purple-pro-right-top{
                    position: absolute;
                    width: 22%;
                    right: 0;
                    top: -66px;
                    z-index: -1;
                }
                .orange-pro-right-top{
                    position: absolute;
                    width: 22%;
                    right: 23%;
                    top: -136px;
                    z-index: -1;
                }
                .orange-pro-left-bottom{
                    position: absolute;
                    width: 22%;
                    bottom: -66px;
                    left: 0;
                    z-index: -1;
                }
                .purple-pro-left-bottom{
                    position: absolute;
                    width: 22%;
                    left: 23%;
                    bottom: -122px;
                    z-index: -1;
                }
                .mt100{
                    margin-top: 100px;
                }
                .enquiry-form-container {
                    padding: 0px;
                }
                .contact-font {
                    font-size: 12px;
                }
                .number-email-container {
                    padding: 24px;
                    position: relative;
                }
                .enquiry-form-card {
                    background: transparent;
                    box-shadow: none;
                    border-radius: unset;
                }
                .email-content .mail-box img {
                    width: 6%;
                    margin-right: 10px;
                }
                .col-separator-contact {
                    display: none;
                }
                h4 {
                    font-size: 20px;
                }
                .number-email-card {
                    padding: 0px;
                    box-shadow: none;
                    border-radius: unset;
                }
                .number-email-card .col-lg-4 {
                    background: #ffffff;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                    padding: 24px;
                    border-radius: 4px;
                    margin-bottom: 16px;
                }
                .email-content {
                    padding: 0px;
                }
                .number-email-card .mt90{
                    margin-top: unset;
                }
                .email-content .col-lg-9{
                    background: #ffffff;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                    padding: 24px;
                    border-radius: 4px;
                    margin-bottom: 16px!important;
                    min-height: 140px;
                }
                .mail-box {
                    padding-top: 24px;

                }
                .mob-bg-contact {
                    position: absolute;
                    bottom: -46px;
                    right: 0;
                    z-index: 0;
                }
                .input-feild input, textarea{
                    max-height: 40px;
                    font-size: 12px;
                    margin-bottom:0px;
                }
                .input-feild label{
                    font-size: 12px;
                    margin: 12px 0px 8px 0px;
                }
                .input-feild button.primary-btn {
                    margin-top: 26px;
                }
                .int-title {
                    font-size: 20px;
                    padding: 0px 5px;
                    top: -14px;
                }
                .int-card {
                    min-height: inherit;
                    margin-bottom: 46px;
                }
                .integration-platform-container{
                    padding: 2px;
                }
                .mb58{
                    margin-bottom: 0px;
                }
                .int-logo {
                    width: 20%;
                    position: absolute;
                    right: -6px;
                    background: white;
                    top: -30px;
                    padding: 10px;
                }
                .int{
                    margin-top: 0px;
                    padding: 0px 24px;
                }
                .banner-content.integration {
                    padding-left: 20px;
                    margin-bottom: 12px;
                }
                .banner-content.integration h2,.banner-content.integration h2 span{
                    font-size: 24px;
                }
                .int-title.two-word {
                    top: -24px;
                }
                .feature-detail-container .feature-detail {
                    padding: 24px;
                }
                .feature-detail-container{
                    padding: 0px;
                }
                .feature-detail-container .feature-detail h5{
                    font-size: 20px;
                    margin-bottom: 24px;
                }
                .service-block-presentive {
                    max-width: 100%;
                }
                .navbar-fixed-top {
                    position: fixed;
                    width: 100%;
                    background: #ffffff;
                    z-index: 100;
                }
                section.available-services .service-block h5{
                    font-size: 20px;
                }
                section.available-services .landing-swirl .card.service-block p{
                    font-size: 16px;
                }
                .banner-flip{
                    height: 100px;
                    background-image: url(../images/mobile-banner-flip.svg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    margin-top: 70px;
                }
                .banner-content.faqs {
                    background-image: url(../images/faq-banner.svg);
                    background-position: right bottom;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 300px;
                }
                .card-directed-container {
                    padding: 24px;
                }
                .classic-header-b{
                    font-size: 18px;
                }
                .product-comparison-container .gray-medium-font{
                    padding: 24px;
                    margin-bottom: 0px;
                }
                .classic-header, .pro-header, .premium-header, .guest-header{
                    font-size: 11px;
                }
                .comparison-header {
                    border-radius: 4px;
                    padding: 12px;
                }
                .check-mark {
                    width: 43%;
                    margin: auto;
                }
                .check-plane>.col-3>p {
                    padding-left: 6px;
                }
                .check-plane{
                    min-height: 40px;
                    max-height: 100px;
                    padding: 12px 0px;
                }
                .comparison-ease-logo {
                    width: 88%;
                    margin: auto;
                }
                .price-comparison-container .gray-medium-font{
                    padding: 24px;
                    margin-bottom: 0px;
                }
                p.head-static-title {
                    font-size: 12px;
                    line-height: 18px;
                }
                .value-header{
                    font-size: 14px;
                }
                .value-header span {
                    display: none;
                }
                .custom-comp-head{
                    padding: 16px;
                    margin-top: 10px;
                }
                .custom-comp-data {
                    padding-top: 22px;
                }
                .pl110{
                    padding-left: 24px!important;
                }
                .custom-comp-data button{
                    display: none;
                }
                .banner-content p.compare-label{
                    margin-top: 0px;
                }
                .compare-cards {
                    display: none;
                }
                .compare-box-section .clup-card-item .card-headup {
                    max-width: 54%;
                    margin: unset;
                    margin-left: 0px!important;
                    margin-bottom: 10px!important;
                }
                .compare-box-section{
                    background: #FFFFFF;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }
                .compare-box-section .clup-card-item {
                    padding: 30px 15px 15px 30px;
                }
                .custom-comp-data>div.row>.col-3:first-child p{
                    padding-left: 24px;
                }
                .banner-content.faq-sign-up {
                    background-image: none;
                    background-repeat: no-repeat;
                    background-position: right top;
                    height: auto;
                    padding: 24px 24px 12px 24px;
                }
                .mt44{
                    margin-top: 44px;
                }
                .tiny{
                    font-family: Poppins-Regular;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 127.7%;
                    color: #626262;
                }
               .large-title{
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 127.7%;
                color: #1E1E1E;
                margin: 2px 0px;
               }
               .apply-text a{
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #E87D1B;
                padding: 10px 0px;
               }
               .side-fixed-header{
                   width:40%;
                   background: #FFFFFF;
                   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                   border-radius: 4px;
                   min-height: calc(100vh - 114px);
                   max-height: 800px;
                   position: absolute;
                   top: 0px;
               }
               .box-static {
                padding: 40px 24px 50px 24px;
            }
            .header-content-scroll{
               overflow-x: scroll;

            }
            .head-main-text{
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: #064372;
                min-width: 200px;
            }
            .content-contain-box{
                min-width: 200px;
            }
            .gray-small-text{
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                color: #626262;
            }
            
           .Faq-search-banner {
                margin-top: 10px;
                background-image: url(../images/faq-search-mobile-banner.svg);
                background-position: top;
                background-repeat: no-repeat;
                background-size: 100%;
                min-height: 104px;
            }
            .card-header {
                padding: .75rem 1.25rem;
                margin-bottom: 0;
                background-color: #FFFFFF;
                border-bottom: none;
            }
            .Faq-search-content .card-header{
                padding: 14px 24px;
            }
            .Faq-search-content .card-body .bold-text:first-child{
                margin-top: 0px;
            }
            .Faq-search-content .card-body .bold-text{
                padding-left: 22px;
            }
            .Faq-search-content .card-body .small-text{
               padding-left: 40px;
               padding-right: 58px;
            }
            .Faq-search-content .classic-header-b{
                font-family: Poppins-Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                overflow: hidden;
                align-items: center;
                color: #1E1E1E;
                white-space: nowrap;
                text-overflow: ellipsis; 
            }
            .bold-text{
                font-family: Poppins-Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 124%;                
                color: #1E1E1E;
                margin-top: 26px;
                margin-bottom: 16px;
            }
            .small-text{
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 124%;
                color: #1E1E1E;
            }
            .banner-content.faqs {
                background-image: none;
                background-position: right bottom;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 60px;
            }
            .classic-card-big-shade {
               display: none;
            }
            .classic-card-small-shade {
                display: none;
            }
            .premium-card-big-shade {
                display: none;
            }
            .pro-card-small-shade {
                display: none;
            }
            .pro-card-big-shade {
                display: none;
            }
            .guest-card-big-shade {
                display: none;
            }
    
            .other-features-free-polygon {
                display: none;
            }
            .other-keyfeatures-double-polygon {
                display: none;
            }
            .guest-brown-big-shade {
                display: none;
            }
            .orange-guest-pricing {
                display: none;
            }
            .pro-key-double-triangle {
                display: none;
            }
            .guest-pricing-double-bottom {
                display: none;
            }
            .other-features-left-free {
                display: none;
            }
            .guest-pricing-bottom-right {
                display: none;
            }
            .key-left-orange-shade {
                display: none;
            }
            .key-right-orange-shade {
               display: none;
            }
    
         











           
             td {
                border: 1px solid #f10c96;
            }
            table {
                display: table;
                border-collapse: none;
                box-sizing: border-box;
                border-spacing: 0px;
                border-color: white;
            }

            .table-scroll {
                position:relative;
                min-height: calc(100vh - 124px);
                
                margin:auto;
                overflow:hidden;
                border:none;
            }
            .table-wrap {
                width:100%;
                overflow:auto;
                min-height: calc(100vh - 124px);
               
            }
            .table-scroll table {
                width:100%;
                margin:auto;
                /* border-collapse:separate; */
                border-spacing:0;
                min-height: calc(100vh - 124px);
                
            }
            .table-scroll th{
                padding:5px 10px;
                background:#fff;
                white-space:nowrap;
                vertical-align:top;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: #064372;
                }
             .table-scroll td {
                padding:5px 10px;
                background:#fff;
                white-space:nowrap;
                vertical-align:top;
                font-family: Poppins-Regular;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #4B4B4B;
            }
            .table-scroll thead, .table-scroll tfoot {
                background:#f9f9f9;
            }
            .clone {
                position:absolute;
                top:0;
                left:0;
                pointer-events:none;
            }
            .clone th, .clone td {
                border: none!important;
                visibility:hidden
            }
            .clone td, .clone th {
                border-color:transparent
            }
            .clone tbody th {
                visibility:visible;
            }
            .clone .fixed-side {
                background: #FFFFFF;
                border: none!important;
                visibility:visible;
            }
            .clone thead, .clone tfoot{background:transparent;}
            th.fixed-side {
                /* box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1); */
            }
            .main-table td{
                border : 1px solid #000000;
            }
            .main-table td:first-child{
                border-left: none;
            }
            .main-table td:last-child{
                border-right: none;
            }
            .main-table tr:first-child td{
                border-top: none;
            }
            .main-table tr:last-child td{
                border-bottom: none;
                
            }
            .close-modal{
                width: 10%;
                margin-left: auto;
                margin-top: 20px;
            }
            .modal-large-header{
                padding-left: 0px;
                padding-right: 0px;
            }
            .gray-modal-font{
                padding-left: 0px;
                padding-right: 0px;
            }
            .modal-text-feilds{
                padding-left: 0px;
                padding-right: 0px;
            }
            .modal-text-feilds div{
                margin-bottom: 10px;
            }
            .feature-detail-modal{
                padding-left: 15px;
            }
            .toggleTabs{
                padding: 0px;
            }
            .tab-content{
                padding: 0px;
            }
            .product-compariosion-collapse{
                padding: 10px 16px;;
            }
            .product-comparison-container{
                margin-bottom: 72px;
            }
            .toggleTabs.nav-pills .nav-link{
                font-size: 14px;
                margin-right: 5px;
                margin-left: 5px;
            }
            .toggleTabs.nav-pills .nav-item:last-child .nav-link{
                margin-right: 0px;
            }
}